.collection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: $tablet-bp) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 704px;
    }

    @media screen and (min-width: $desktop-bp) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 960px;
        row-gap: 32px;
        column-gap: 16px;
    }

}