.movie__card {
   width: 280px;
   height: 440px;
   overflow: hidden;

   @media screen and (min-width: $tablet-bp) {
       width: 336px;
       height: 495px;
   }

    @media screen and (min-width: $desktop-bp) {
        width: 309px;
        height: 489px;
    }
}

.movie__link {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: $tablet-bp) {
        gap: 8px;
    }
}

.movie__poster {
    width: 100%;
    height: 398px;
    object-fit: cover ;
    object-position: center;
    border-radius: 5px;

    @media screen and (min-width: $tablet-bp) {
         height: 455px;
    }

    @media screen and (min-width: $desktop-bp) {
        height: 449px;
    }
}

.movie__description {
    font-size: 12px;
    line-height: 16px;
}
.movie__title {
    font-size: inherit;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $body-text-color ;
    overflow: hidden;
}

.movie__briefs {
    color: $accent-color;
}