.header {
    max-width: 1024px;
    background-color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 0 40px;
    width: 1024px;

    a {
        display: inline-flex;
        color: #ffffff;
        text-decoration: none;
    }

    &-user {
        display: flex;
        gap: 20px;
    }
}



.search__form {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#search__input {
    all: unset;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;

    &::placeholder {
        color: #ffffff;
    }
}

#search__button {
    all: unset;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}