.header {
    max-width: 1024px;
    background-color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 0 40px;
    width: 1024px;

    a {
        display: inline-flex;
        color: #ffffff;
        text-decoration: none;
    }

    &-user {
        display: flex;
        gap: 20px;
    }
}



.search__form {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}