.pagination {
    display: flex;
    justify-content: space-between;
    align-content: center;
    column-gap: 16px;
    background-color: $main-background;
    padding: 40px 20px;

    @media screen and (min-width: $tablet-bp) {
        justify-content: center;
        padding: 60px 32px;
    }
}

.tui-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.tui-is-selected {
    width: 40px;
    height: 40px;
    background-color: $accent-color;
    border-radius: $corner-radius;
    color: #FFFFFF;
}



.tui-prev,
.tui-next {
    width: 40px;
    height: 40px;
    background-color: $footer-background;
    border-radius: $corner-radius;
}

.tui-last,
.tui-first,
.tui-next-is-ellip,
.tui-prev-is-ellip {
    display: none ;

    @media screen and (min-width: $tablet-bp) {
        display: flex;
    }
}

@media screen and (min-width: $tablet-bp) {
    .tui-prev,
    .tui-last {
            transform: translateX(-48px);
        }
    
    .tui-first,
    .tui-next {
            transform: translateX(48px);
        }
}
