.pagination {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $main-background;
    padding: 40px 0;

    @media screen and (min-width: $tablet-bp) {
        padding: 60px 0;
    }
}