$main-font: "Roboto";
$primary-font-size: 12px;
$primary-font-weight: 500;

$accent-color: #ff6b08;

$header-text-color: #FFFFFF;
$body-text-color: #000000;
$modal-window-text-color-primary: #000000;
$modal-window-text-color-secondary: #8C8C8C;
$footer-text-color: #545454;


$button-active-background: #FF6B08;

$app-background: #E5E5E5;
$footer-background: #F7F7F7;
$accent-background: #FF6B08;
$modal-window-background-color: #FFFFFF;

$time: 270ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-bp: 320px;
$tablet-bp: 768px;
$desktop-bp: 1024px;