<header class="header container">
  <nav class="navigation">
    <div class="logo">
      <a class="logo__button" href="#" role="button">LOGO</a>
    </div>
    <div class="navigation-user">
      <a class="home" href="#" role="button">HOME</a>
      <a class="library" href="#" role="button">MY LIBRARY</a>
    </div>
  </nav>
  <form class="search__form">
    <input type="text" name="search" id="search__input" placeholder="Movie search" />
    <button id="search__button" type="submit"></button>
  </form>
</header>
